<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.medvedev.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name="com.medvedev.presentation.ui.activities.cars.CarListActivity" />
        <activity android:name="com.medvedev.presentation.ui.activities.cars.CarEditActivity" />
        <activity android:name="com.medvedev.presentation.ui.activities.cars.CarDetailsActivity" />

        <activity android:name="com.medvedev.presentation.ui.activities.drivers.DriverListActivity" />
        <activity android:name="com.medvedev.presentation.ui.activities.drivers.DriverEditActivity" />
        <activity android:name="com.medvedev.presentation.ui.activities.drivers.DriverDetailsActivity" />

        <activity android:name="com.medvedev.presentation.ui.activities.fuel.CarFuelListActivity" />
        <activity android:name="com.medvedev.presentation.ui.activities.fuel.CarFuelEditActivity" />
        <activity android:name="com.medvedev.presentation.ui.activities.fuel.CarFuelDetailsActivity" />

        <activity android:name="com.medvedev.presentation.ui.activities.docs.NormativeDocsActivity" />
        <activity android:name="com.medvedev.presentation.ui.activities.docs.NormsActivity" />
        <activity android:name="com.medvedev.presentation.ui.activities.docs.Resolution470Activity" />

        <activity
            android:name="com.medvedev.presentation.ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>